// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/typography

// --------------------------------

:root {
  // font family
  --font-primary: Dosis, sans-serif;

  // body font size
  --text-base-size: 1em;
  
  // type scale
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.60;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;
}

@supports(--css: variables) {
  :root {
    @include breakpoint(md) {
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25;
    }
  }
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: bold;
}

//font family
.font-primary { font-family: var(--font-primary);}

h2 {
  font-size: var(--text-md);
}

header {
  a {
    color: var(--color-primary-lightest);
    transition: color 0.1s var(--ease-in-out);
    &:hover {
      color: var(--color-primary-lighter);
      transition: color 0.2s var(--ease-in-out);
    }
  }
}


.text-primary {
  color: var(--color-primary);
}

.text-primary--lightest {
  color: var(--color-primary-lightest);
}


// a {
//   color: var(--color-primary-lightest);
//   &:hover {
//     color: var(--color-primary-lighter)
//   }
// }